@media only screen and (max-width: 991px){
    .vermas-benefits{
        .vermas-benefits-card{
            &__desc{
                padding: 10px;
                min-height: 120px;
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
    }
}

@media only screen and (max-width: 767px){
    body{
        .section{
            padding-bottom: 150px !important;
    
            &__title{
                text-align: center;
            }
    
            &__subtitle{
                text-align: center;
            }
    
            &.with-palm-bg{
                &:before{
                    height: 200px;
                    width: 90px;
                }
    
                &:after{
                    height: 200px;
                    width: 60px;
                    transform: translate(10%,50%);
                }
            }
        }
    }
    .header{
        &__logo{
            width: 100%;
            justify-content: center;
            align-items: center;
            display: flex;

            a{
                font-size: 25px;
            }
        }

        &__nav{
            position: fixed;
            top: 0;
            left: 0;
            height: 100%;
            width: 75%;
            background: white;
            box-shadow: 3px 0px 10px 2px rgb(0 0 0 / 50%);
            transition: all .5s ease;
            transform: translateX(0);

            &--hide{
                transform: translateX(-120%);
            }

            ul {
                flex-direction: column;
                align-items: center;
                justify-content: center;

                li{
                    margin: 20px 0;

                    a{
                        font-size: 30px;
                        font-weight: 700;
                    }
                }
            }
            
            .nav-close{
                display: block;
            }
        }

        &__hamburger{
            display: flex;
        }
    }

    .footer{
        padding: 30px;

        &__nav{
            ul{
                flex-direction: column;
                justify-content: center;
                align-items: center;

                li{
                    margin: 25px 0;

                    a{
                        font-size: 25px;
                    }
                }
            }
        }

        &__info{
            ul{
                flex-direction: column;
                justify-content: center;
                align-items: center;

                li{
                    margin: 10px 0;

                    a{
                        font-size: 20px;
                    }
                }
            }
        }
    }

    /* Banner */
    .banner{
        background-position: center;
        padding: 150px 0;

        &__title{
            font-size: 35px;
            text-align: center;
        }

        &__subtitle{
            text-align: center;
            width: 100%;
            white-space: unset;
        }

        &__button{
            margin: 0 auto;
        }

        &__image{
            width: 100%;
            position: relative;
            left: 50%;
            transform:translateX(-50%);
        }
    }

    .vermas-benefits{
        .vermas-benefits-card{
            max-width: 320px;
            width: 100%;
            margin: 0 auto;
            &__desc{
                padding: 10px;
                min-height: 120px;
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
    }

    .love-it-or-its-on-us{
        &__desc{
            padding: 150px 0;
            align-items: center;
        }
    }

    .its-simple-really{
        .section__subtitle{
            text-align: center;
        }

        &__desc{
            text-align: center;
        }
    }

    .our-products{
        .our-products-main-carousel{
            &__cell{
                flex-direction: column;
            }
        }
    }

    .org-testimonials{
        &__image{
            min-height: 450px;
            img{
                width: 70%;
            }
        }
    }

    .before-footer{
        padding: 25px 20px;

        &__logo{
            text-align: unset;
            width: 20% !important;
        }

        &__our-shop{
            width: 80% !important;
        }
    }
}

@media only screen and (max-width: 480px){
    .header{
        padding: 30px 25px;

        &__logo{
            a{
                font-size: 20px;
            }
        }
    }
    .footer{
        &__logo{
            a{
                font-size: 30px;
            }
        }
    }

    .banner{
        padding: 100px 0;
    }

    .before-footer{

        &__logo{
            
            img{
                width: 58px;
                height: 58px;
            }
        }

        &__our-shop{
            a{
                font-size: 30px;

                img{
                    margin-left: 5px;
                }
            }
        }
    }
    
}